
	        	
	        	<!-- suchen oder geben -->
	<div class="featured">
		<figure>
			<%= link_to image_tag("suchen.jpg", :alt => "SUCHEN"), root_path , :class => "thumb" %>
		</figure>
	
		<figure>
			<%= link_to image_tag("geben.jpg", :alt => "GEBEN"), root_path , :class => "thumb" %>
		</figure>
					        		
	<!-- ENDS suchen oder geben -->
	
	<div class="trenner">
	  <%= image_tag("trennlinie.png", :alt => "trennlinie") %>
	</div>

<!-- SUCHEN -->
		<!--suchfeld--!>
	<%= form_tag(search_updatemap_path, :class => "form-wrapper cf") do %>
  		<%= text_field_tag :searchArticle, @storred_search_article, :placeholder => 'Search here for food and drinks...' %>
 		<%= button_tag "Search" %>
	<% end %>
<!-- tabelle suchergebnisse -->

  <div class="suchergebnisse">
		
	<table> 
	  <thead><tr> 
		<th>PRODUCT</th> 
		<th>NAME</th> 
		<th>ROOM NR.</th> 
		<th></th> 
		</tr></thead> 

	<div class="trenner_suchergebnis">
	<%= image_tag("trennlinie.png", :alt => "trennlinie") %>
	</div>

	  <tbody> <% @products.each do |p| %>
	  	<% if @storred_search_article.present? %>
	  	  <% if p.name == @storred_search_article %>
	  	    <tr> 
			  <td><%= p.name if p.name.present? %></td> 
			  <% if p.user.first_name && p.user.last_name && p.user.roomnumber %>
			  <td><%= p.user.first_name %> <%= p.user.last_name %></td>
			  <td><%= p.user.roomnumber %></td> 
			  <% end %>
			  <td><%= link_to "GET IT", user_path(p.user_id) %></td> 
			</tr>
	  	  <% else %>
	  	    <p> No products </p>
	  	  <% end %>
	  	<% else %>
	  	  <tr> 
			<td><%= p.name if p.name.present?%></td>
			<% if p.user.first_name && p.user.last_name && p.user.roomnumber %> 
			<td><%= p.user.first_name %> <%= p.user.last_name %></td>
			<td><%= p.user.roomnumber %></td> 
			<td><%= link_to "GET IT", user_path(p.user_id) %></td> 
		  </tr>
	  	<% end %>
	  <% end %>
	  </tbody> 
	  </table>
	</div>
						        		
	<!-- ENDS suchen -->
	</div>
  <div class="clearfix"></div>
  

</div>
<!-- ENDS content -->



			

		<!-- ENDS MAIN -->




