<% unless current_user.id == @user.id %>
  <% if @fridge_friend.count <= 0 %> 
    <%= link_to 'send Friend request', fridge_friends_path(:friend_id => @user.id), :method => :post %>
  <% end %>
  <% if @fridge_friend.count > 0 %>  
  	<% @fridge_friend.each do |friends| %>
      <% if friends.friend_id != @user.id %>
        <%= link_to 'send Friend request', fridge_friends_path(:friend_id => @user.id), :method => :post %>
      <% end %>
      <% if friends.friend_id == @user.id %>
        <%= link_to 'delete Friend request', get_friend, :method => :delete, :id => "remove Friend" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.id == @user.id %>
  <div><% if @fridge_friend.present? %>
         <% @fridge_friend.each do |friends| %> 
           <% if friends.friend_id == current_user.id %>
             
               <%= link_to "accept friend request from #{friends.user.email}", fridge_friends_path(:friend_id => friends.user_id), :method => :post %>
             
           <% elsif friends.user_id == current_user.id && friends.friend_id != current_user.id %>
             <% if friends.friend.first_name.present? && friends.friend.last_name.present? %>
               <%= link_to friends.friend.first_name + " " + friends.friend.last_name, user_path(friends.friend.id.to_s) %>
             <% else %>
               <%= link_to friends.friend.email, user_path(friends.friend.id.to_s) %>
             <% end %>
             
           <% end %>
         <% end %>
       <% else %>
         <p>Currently no Friends!</p>
       <% end %>
  </div>
<% end %>