<div>
  <% if @fridge.present? %>
    <%= @fridge.each do |fridge| %>
	  <% if fridge.user_id == @user.id %>
	    Anzahl: <%= fridge.amount %>
	    Name: <%= fridge.product.name %>
	    Marke: <%= fridge.product.marke %>
	    Geschäft: <%= fridge.product.ort %>
	  <% end %>
	  <br/>
	<% end %>
  <% end %>
</div>