
<% if @product.present? %>
  <% Product.all.each do |product| %>
    <% if product.user_id == current_user.id && @user.id == current_user.id %>
    <ul class="foodList">
      <li>
	  	<p class="article">
	  	<%= product.name %>
	  	<%= link_to " destroy article", product, :method => :delete %>
		</p>
	  </li>
	</ul>
	<% end %>
	
	<% if product.user_id != current_user.id && @user.id != current_user.id && product.user_id == @user.id %>
	  <ul class="foodList">
        <li>
	  	  <p class="article">
	  	    <%= product.name if product.name.present? %>
	  	    <% if @product_arrangement.count > 0 %>
	  	      <% @product_arrangement.each do |pa| %>
	  	        <% if pa.acceptance == nil && pa.product_id == product.id && pa.interest_id == @user.id %>
                    <strong>reserviert </strong>
                <% end %>
                <% if pa.acceptance == true && pa.product_id == product.id && pa.interest_id == @user.id %>
                  <strong>schon vergeben</strong>
                <% end %>
                <% if current_user.id != @user.id && pa.product_id != product.id && pa.interest_id != @user.id %>
				  <% if current_user.points >= -5 %>
					| <%= link_to " Send Request", product_arrangements_path(:user_id => current_user.id, :interest_id => @user.id, :product_id => product.id), :method => :post %>
				  <% else %>
				    <h3>Sorry, you can not order the product because you have got no points.</h3>
				  <% end %>
				<% end %>
			  <% end %>
	  	    <% else %>
	  	      | <%= link_to "send Request", product_arrangements_path(:user_id => current_user.id, :interest_id => @user.id, :product_id => product.id), :method => :post %>
	  	    <% end %>
		  </p>
	    </li>
	  </ul>
	<% end %>
  <% end %>
<% end %>