<h1 class="post-heading">
	<%= @user.email %><br />
	<%= @user.first_name %><br />
	 <%= @user.last_name %> <%= @user.roomnumber %></h1>
    <div class="meta">
      <span class="entry-date">Mitglied seit: <%= @user.created_at %></span>
    </div>
<div>Punkte: <%= @user.points %></div>

