<h1>Listing products</h1>

<ul id="product_list">
<% @products.each do |product| %>
  <li><%= link_to 'Show', product %>
   | <%= link_to 'Edit', edit_product_path(product) %>
   | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= product.name %>
    <%= product.marke %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Product', new_product_path, id: "new_product_link", remote: true %>
