<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Marke:</b>
  <%= @product.marke %>
</p>

<p>
  <b>Ort:</b>
  <%= @product.ort %>
</p>

<p>
  <b>Datum:</b>
  <%= @product.datum %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
