<% if current_user %>
  <% if current_user.id == @user.id %>
    
    <% if @product.product_arrangements.length != 0 %>
		<h3>Following users have ordered your product</h3>
		
      <% for i in 0...@product.product_arrangements.length %>
        <% user = @product.product_arrangements[i].user.first_name << ' ' << @product.product_arrangements[i].user.last_name %>
        <%= 'user: ' << user %>
        
        <% if @product.product_arrangements[i].acceptance %>
            <p>Product order's been accepted already.</p>
        <% else %>
          <p>You can accept this order of user <%= user %></p>
          <%= render 'users/product_arrangement_update_form', :product_arrangement => @product.product_arrangements[i] %>
        <% end %>
        <p>You can delete this order of user <%= user %></p>
        <%= render 'users/product_arrangement_delete_form', :product_arrangement => @product.product_arrangements[i] %>
        <br />
      <% end %>
		
    <% end %>
    
    <p>Click link below to edit product.</p>
    <%= link_to "edit product", edit_product_path(@product.id) %>
    
  <% else %>
    <% if button_request(:product_id => @product.id, :user_id => current_user.id) %>
      <% if current_user.points > 0 %>
        
			<p>When you order this product, you may want to receive a mail notification, when product is ready to eat?</p>
			
			<%= form_tag({:controller => "product_arrangements", :action => "create"}, :method => "post") do %>
			  <%= hidden_field_tag 'product_id', @product.id %>
			  
			  <p><%= image_submit_tag("request_product.png", :id => "request_product") %></p>
			<% end %>
			
      <% else %>
          <p>Unfortunately you do not have got points to order this product.</p>
          <%= image_submit_tag("no_request_product.png", :disabled => false) %>
      <% end %>
		
    <%else%>
        
        <% if @product_arrangement && !@product_arrangement.acceptance %>
          <p>Delete your order of this product? Click on button below</p>
          <%= form_tag(product_arrangement_path(@product_arrangement.id), :method => "delete") do %>
            <%= image_submit_tag("delete_product_request.png", :id => "delete_product_request") %>
          <%end%>
        <% end %>
        
    <%end%>
  <% end %>
    
<% else %>
  <p>You have to log in in order to make an order of this product.</p>
  <%= link_to image_tag("login_to_eat.png", :title => "login to eat"), user_session_path %>
<% end %>
