<!DOCTYPE html>
<html>
<head>

  <title>RAID ME - fridgecommunity</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="mobile-nav-holder">
      <div class="wrapper">
        <ul id="mobile-nav">
          <li class="current-menu-item"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Impressum', imprint_path %></li>
          <% if user_signed_in? %>
          <li class="current-menu-item"><%= link_to "My Fridge", user_path(current_user)  %></li>
          <li><%= link_to "Fridge-Friends", fridge_friends_path %></li>
          <% end %>
        </ul>
        <div id="nav-open"><a href="#">Menu</a></div>
      </div>
    </div>

  <header>

    <div class="wrapper">
      <%= link_to image_tag("logo.png", :title => "Tandem", :id => "logo"), root_path %>

      <nav>
        <ul id="nav" class="sf-menu">
          <li><%= link_to (root_path) do %>Home<span class="subheader">welcome</span><% end %></li>
          <li><%= link_to (about_path) do %>About<span class="subheader">raid me</span><% end %></li>
          <li><%= link_to (imprint_path) do %>Impressum<span class="subheader">contact & facts</span><% end %></li>
          <% if user_signed_in? %>
          <li><%= link_to(users_path) do  %>All Users<span class="subheader">find Friends</span><% end %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    
    <div id="login">
      <% unless user_signed_in? %>
       <div class="content hover2">
    
        <%= form_for("user", :url => user_session_path) do |f| %>
          <%= f.email_field :email, :class => "text email", :maxlength => "200" %>
          <%= f.password_field :password, :class => "text password", :maxlength => "150" %>
                    

          <%= f.submit "LOGIN", :class => "textButton" %>
          <%= f.check_box :remember_me, :class => "remember" %> <%= f.label "remember me" %>
          
        <% end %>

        <%= link_to "Register", new_user_registration_path %> |
        <%= link_to "Forgot your password?", new_password_path('user'), :class => "link KH-link KH-block-#login KH-noHistory" %>

        <div class="fb_button fb_button_medium"><%= link_to "Log In", user_omniauth_authorize_path(:facebook), :class => "fb_button_text" %></div>
      <% end %>
    </div>


    <div id="logout">
      <div class="content hover2">
      <% if user_signed_in? %>
        <%= gravatar_for current_user, :size=>50 %>
        <% if current_user.first_name.present? && current_user.last_name.present? %>
          <div class="profilname"><%= link_to "#{ current_user.first_name} #{current_user.last_name}", user_path(current_user) %></div>
        <% else %>
          <div class="profilname"><%= current_user.email %></div>
        <% end %>
        <div class="einstellungen"><%= link_to image_tag('einstellungen.png'), edit_user_registration_path %></div>
        <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :id=>"button_logout", :class=>"textButton" %></b></q>
      <% end %>
      </div>
    </div>
    
  </header>
  

    <div id="main">
        
      <!-- social -->
      <div id="social-bar">
        <ul>
          <li><%= link_to image_tag("social/facebook_32.png", :title => "Become a fan", :alt => "Facebook"), "www.facebook.com/raidme" %></li>
          <li><%= link_to image_tag("social/twitter_32.png", :title => "Follow my tweets", :alt => "Tiwtter"), "www.twitter.com/raidme" %></li>
        </ul>
      </div>
      <!-- ENDS social -->
     
     <div id="notifications">
    <p class="notice" align="center"><%= notice %></p>
    <p class="alert" align="center"><%= alert %></p>
  </div>
      
      <!-- Content -->
      <div id="content">
    
        <%= yield %>
                      
      </div>
      <!-- ENDS content -->
      
      <div class="clearfix"></div>
      <div class="shadow-main"></div>
    </div>

 

    <!-- ENDS MAIN -->
</body>
</html>
