<!DOCTYPE html>
<html>
<head>

  <title>RaidMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <header>
    <div id="user_area">
    <div id="user-area-content">

    
    <div id="user_nav">

      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Impressum', imprint_path %>
      <div id="logged_in"
        <% if user_signed_in? %>
          <%= gravatar_for current_user %>
          <strong><%= link_to "My Fridge", user_path(current_user) %></strong>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %> |
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  </header>
  <p class="notice" align="center"><%= notice %></p>
  <p class="alert" align="center"><%= alert %></p>

    <div id="main">
        
      <!-- social -->
      <div id="social-bar">
        <ul>
          <li><%= link_to image_tag("social/facebook_32.png", :title => "Become a fan", :alt => "Facebook"), "www.facebook.com/raidme" %></li>
          <li><%= link_to image_tag("social/twitter_32.png", :title => "Follow my tweets", :alt => "Tiwtter"), "www.twitter.com/raidme" %></li>
        </ul>
      </div>
      <!-- ENDS social -->
     
     
      
      <!-- Content -->
      <div id="content">
    
        <%= yield %>
                      
      </div>
      <!-- ENDS content -->
      
      <div class="clearfix"></div>
      <div class="shadow-main"></div> 
    </div>

 
</div>
    <!-- ENDS MAIN -->
</body>
</html>
