<div clas="friendpool_headline">
  <h2>Fridge Friends</h2>
</div>
<% if @fridge_friend.length != 0 %>
    <% for i in 0...@fridge_friend.length %> 
      <% if @fridge_friend[i].user_id == current_user.id %>
        <% if @fridge_friend[i].friend.first_name.present? && @fridge_friend[i].friend.last_name.present? %>
          <figure><%= gravatar_for @fridge_friend[i].friend, :size=>100 %>
          <figcaption><%= link_to @fridge_friend[i].friend.first_name + " " + @fridge_friend[i].friend.last_name, user_path(@fridge_friend[i].friend.id.to_s) %></figcaption></figure>
        <% else %>
          <figure><%= gravatar_for @fridge_friend[i].friend, :size=>100 %>
          <figcaption><%= link_to @fridge_friend[i].friend.email, user_path(@fridge_friend[i].friend.id.to_s) %></figcaption></figure>
        <% end %>
      <% end %>
    <% end %>
<% else %>
  <p>Currently no Friends!</p>
  <br />
  <%= link_to "Find Friends", users_path %>
<% end %>